*{
    margin: 0px;
    padding: 0px;
}
body, ul, li, p {
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-size: 1.2rem;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-principal{
    background-color: rgba(3, 0, 19, 0.842);
    display: flex; 
    justify-content:space-between;
    align-items:center;
    height: 60px;
    padding: 0 1.5rem;
}
.menu-principal a{
    color: rgb(255, 255, 255);
}
#btnbusca{
    display: flex;
    width: 35px;
}
#btn-menu{
    color: white;
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}
#hamburguer{
    display:block;
    border-top: 2px solid;
    width:20px;
}
#hamburguer::after, #hamburguer::before{
    content: "";
    display:block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: .3s;
    position: relative;
}
#nav-menu.active #hamburguer{
    border-top-color: transparent;
}
#nav-menu.active #hamburguer::before{
    transform: rotate(135deg);
}
#nav-menu.active #hamburguer::after{
    top:-7px;
    transform: rotate(-135deg);
}
.menu{
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    background-color: rgba(3, 0, 19, 0.842);
    height: 0;
    transition: .6s;
    left: 0px;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
}
.menu li{
    display: flex;
    justify-content: start; 
}
.menu li a{
    width: 93%;
    margin: 0 0.7rem; 
    padding: 1.5rem 0; 
    border-bottom: 2px solid rgba(255, 255, 110, .25); 
}
#nav-menu.active .menu{
    
    height: calc(100vh - 100px);
    visibility: visible;
    overflow-y: auto;
}
.busca{
    display: none;
}
.msg{
    height: 40px; 
}
