.c-header-inferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-links{
    color: black;
    padding: .2rem 0 0.4rem;
    border-bottom: .22rem solid transparent;  ;
}
.c-links:hover{
    border-bottom: .22rem solid rgb(0, 0, 0);
}
